#div1{
	position: relative;
	height: 38.5vh;
	width: 500px;
	left: 30vw;
	top: 15vh;
}

footer button{
	text-decoration: none;
	border: none;
	background: linear-gradient(to right, forestgreen,chartreuse);
	color: white;
	width: 100px;
	height: 100px;
	border-radius: 90px;
	font-size: 26px;
}

footer{
	margin-top: -237px;
	display: flex;
	justify-content: space-around;
	position: relative;
	bottom: -45vh;
}

.log{
	width: 200px;
	border-radius: 20px;
}

div{
	position: relative;
	height: 100px;
	width: 500px;
}

label{
	font-size: 26px;
}

input{
	top: -30px;
	position: absolute;
	right: 0;
	width: 200px;
	height: 50px;
	margin: 20px;
	font-size: 18px;
}

#div2{
	margin-top: 150px;
	height: 10vh;
	width: 94vw;
	display: flex;
	justify-content: center;
}

button{
	text-decoration: none;
	border: none;
	background-color: white;
	width: 175px;
	height: 100px;
	font-size: 26px;
	color: gray;
	background-color: lightgray;
	border-radius: 15px;
	margin: 10px;
}